<div class="col-sm-4 col-lg-4 col-md-4">
          <div class="thumbnail">
              <img src="{{product.imgUrl}}" alt=""/>
             <div class="caption">
                  <h4 class="pull-right">{{Product.price}}</h4>
                 <h4><a href="#">{{Product.name}}</a>
             </h4>
                 <p> {{Product.description}} <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
         </div>
          <div class="ratings">
                  <p class="pull-right">{{Product.review}}</p>
                 <p>
                      <span class="glyphicon glyphicon-star"></span>
                     <span class="glyphicon glyphicon-star"></span>
                     <span class="glyphicon glyphicon-star"></span>
                     <span class="glyphicon glyphicon-star"></span>
                     <span class="glyphicon glyphicon-star-empty"></span>
             </p>
             <!-- <rating rate="">{{Product.rating}}</rating> -->
             
         </div>
     </div>
 </div>